.servicesSection {
  display: flex;
  flex-direction: column;
}

.servicesSection h2 {
  text-align: center;
  color: rgb(192, 0, 0);
  font-size: 3rem;
  margin-bottom: 0;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  margin: 0 auto;
}

.service {
  border: 2px solid rgb(192, 0, 0);
  width: 21%;
  margin: 0.1rem auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(224, 224, 224);
}

.service h3 {
  font-size: 1.4rem;
}

.service p {
  font-size: 1.2rem;
  margin-top: 0;
}

.service:hover {
  transform: scale(1.1);
}

.cta {
  font-size: 1.4rem;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  color: black;
}

.cta:hover {
  font-weight: bold;
}

.cta:visited {
  color: black;
}

@media only screen and (max-width: 1080px) {
  .servicesSection h2 {
    font-size: 2.5rem;
  }

  .service {
    margin: 0.1rem auto;
    padding: 0.5rem;
  }

  .service h3 {
    font-size: 1.2rem;
  }

  .service p {
    font-size: 1.1em;
  }
}

/*@media only screen and (max-width: 1080px) {
  .service {
    margin: 0.1rem auto;
    padding: 0.5rem;
  }

  .servicesSection h2 {
    font-size: 2rem;
  }
  .service h3 {
    font-size: 1.1rem;
  }

  .service p {
    font-size: 1rem;
  }
}*/

@media only screen and (max-width: 900px) {
  .servicesSection h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 730px) {
  .service {
    width: 90%;
  }

  .services {
    flex-direction: column;
  }
}

@media only screen and (max-width: 680px) {
  .servicesSection h2 {
    font-size: 1.5rem;
  }
}
