.menu p {
  text-align: center;
  font-size: 1.5rem;
}

.menu p:hover {
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
}

.menu li:hover {
  text-decoration: none;
  cursor: pointer;
}
