.whySection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  padding-bottom: 1rem;
}

.photo {
  height: 37rem;
  margin: 2rem;
}

.whyText {
  width: 30rem;
  padding: 1rem;
}

.whyText h2 {
  font-size: 3rem;
  color: rgb(192, 0, 0);
}

.whyText strong {
  color: rgb(192, 0, 0);
}

.whyText li {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.ul {
  list-style: none;
  padding: 0;
}

.cta {
  font-size: 1.2rem;
  font-weight: bold;
}

.cta:hover {
  font-weight: normal;
}

.cta:visited {
  color: rgb(192, 0, 0);
}

@media only screen and (max-width: 1080px) {
  .whyText h2 {
    font-size: 2.5rem;
  }

  .whyText li,
  .cta {
    font-size: 1.1rem;
  }
  .photo {
    height: 32rem;
  }
}

/*@media only screen and (max-width: 1080px) {
  .whyText h2 {
    font-size: 2rem;
  }

  .whyText li,
  .cta {
    font-size: 1rem;
  }

  .photo {
    height: 32rem;
  }
}*/

@media only screen and (max-width: 900px) {
  .whyText h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .whyText li,
  .cta {
    font-size: 1rem;
  }
  .photo {
    height: 25rem;
  }
}

@media only screen and (max-width: 680px) {
  .whySection {
    flex-direction: column;
  }

  .whyText h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.5rem;
  }

  .cta {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 540px) {
  .whyText {
    width: 80%;
  }
}

@media only screen and (max-width: 325px) {
  .photo {
    height: 15rem;
  }
}
