.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 60%;
  margin: 1rem;
}

.aboutText h2 {
  font-size: 3rem;
  color: rgb(192, 0, 0);
}

.aboutText p {
  font-size: 1.2rem;
}

.aboutImg {
  margin: 1rem;
}

.aboutImg img {
  height: 45rem;
}
