header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: max-content;
  background-color: rgb(224, 224, 224);
}

h1 {
  font-size: 4.5rem;
  color: rgb(192, 0, 0);
}

header a {
  color: rgb(192, 0, 0);
  text-decoration: none;
}

@media only screen and (max-width: 1500px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1250px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1080px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 325px) {
  header h1 {
    text-align: center;
    font-size: 2rem;
  }
}
