.banner {
  background-image: url("../../assets/StoodleyPike-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 38rem;
  text-align: center;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h2 {
  font-size: 3rem;
  color: white;
  padding: 0;
  margin-bottom: 0;
}

.bannerText {
  color: white;
  width: 60%;
}

.bannerText h3 {
  font-size: 1.4rem;
}

.bannerText p {
  font-size: 1.2rem;
}

.bannerExtra {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .banner h2 {
    font-size: 2.5rem;
  }

  .bannerText h3 {
    font-size: 1.2rem;
  }

  .bannerText p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .banner h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .bannerText {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .banner h2 {
    font-size: 1.5rem;
  }

  .bannerText h3 {
    font-size: 1.1rem;
  }

  .bannerText p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .bannerText {
    display: none;
  }

  .bannerExtra {
    display: block;
    margin-top: 2rem;
  }

  .banner {
    background-size: contain;
    height: max-content;
  }

  .overlay {
    background-color: rgb(0, 0, 0, 0);
  }

  .banner h2 {
    margin: auto;
    text-shadow: 1px 1px 1px black;
  }
}

@media only screen and (max-width: 325px) {
  .banner h2 {
    font-size: 1.3rem;
  }
}
