.banner {
  background-image: url("../../assets/StoodleyPike-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 38rem;
  text-align: center;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h2 {
  font-size: 3rem;
  color: white;
  padding: 1.5rem 0;
}

.bannerText {
  color: white;
  width: 60%;
}

.bannerText h3 {
  font-size: 1.4rem;
}

.bannerText p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1250px) {
  .banner h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 9000px) {
  .banner h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .bannerText h3 {
    font-size: 1.2rem;
  }

  .bannerText p {
    font-size: 1.1rem;
  }

  .bannerText {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .banner h2 {
    font-size: 1.5rem;
  }

  .bannerText h3 {
    font-size: 1.1rem;
  }

  .bannerText p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .banner {
    background-image: none;
    height: max-content;
  }

  .overlay {
    background-color: white;
  }

  .bannerText,
  .banner h2 {
    color: black;
  }
}
