footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 224, 224);
  height: 12rem;
}

footer a {
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}

footer p,
footer li {
  font-size: 1.2rem;
}

.socials {
  height: 1rem;
  padding-right: 0.5rem;
}

.coded {
  font-size: 1rem;
}

.ul {
  list-style: none;
  margin: 0rem;
  padding: 0;
}

.li {
  margin: 0;
  padding: 0;
}

.li a {
  text-decoration: underline;
  font-size: 1.2rem;
}

.li a:hover {
  text-decoration: none;
}

.badge {
  height: 4rem;
  padding: 0 0.5rem;
}

.footerDiv {
  margin: 1rem;
}

.badgeDiv {
  margin: 1rem;
  display: flex;
  align-items: center;
}
