footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 224, 224);
  height: 12rem;
}

footer h3 a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

footer h4,
footer p,
footer li a {
  font-size: 1.2rem;
  color: black;
}

footer ul {
  list-style: none;
  margin: 0rem;
  padding: 0;
}

footer li a:hover {
  text-decoration: none;
}

.socials {
  height: 1rem;
  padding-right: 0.5rem;
}

.badge {
  height: 4rem;
  padding: 0 0.5rem;
}

.footerDiv {
  margin: 1rem;
}

.badgeDiv {
  margin: 1rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1080px) {
  footer h3 a {
    font-size: 1.2rem;
  }

  footer h4,
  footer p,
  footer li a {
    font-size: 1.1rem;
  }

  .badge {
    height: 3rem;
    padding: 0 0.5rem;
  }
}

/*@media only screen and (max-width: 1080px) {
  footer h4 {
    font-size: 1.1rem;
  }

  footer p,
  footer li a,
  footer h4 {
    font-size: 1rem;
  }

  .badge {
    height: 2.5rem;
    padding: 0 0.5rem;
  }

  .badgeDiv {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
*/
@media only screen and (max-width: 900px) {
  footer {
    flex-wrap: wrap;
    height: auto;
  }

  .badgeDiv {
    flex-direction: row;
  }
}

@media only screen and (max-width: 325px) {
  .badgeDiv {
    flex-wrap: wrap;
  }
}
