.stepsSection {
  margin: 2rem auto;
  width: 50%;
}

.stepsSection h2 {
  font-size: 3rem;
  color: rgb(192, 0, 0);
}

.stepsSection p {
  font-size: 1.2rem;
}

.step summary {
  font-size: 1.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 1250px) {
  .stepsSection h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1080px) {
  .stepsSection h2 {
    font-size: 2rem;
  }

  .stepsSection p {
    font-size: 1.1rem;
  }

  .step summary {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .stepsSection h2,
  .stepsSection p,
  .step summary {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .stepsSection h2 {
    font-size: 1.8rem;
  }

  .stepsSection p {
    font-size: 1rem;
  }

  .stepsSection {
    width: 75%;
  }
}
